/***************
GLOBAL STYLES
***************/

body {
  background-color: $primary-color;
  color: white;
  line-height: 1.8;
  word-spacing: 0.05em;
  font-size: 125%;
  margin: 1.5em;
  border: 1px solid white;
  font-family: "Nanum Gothic";
}

.inner {
  margin: 0 auto;
  max-width: 1200px;
}

/***************
HOMEPAGE STYLING
***************/

#home {
  .posts,
  .pageTitle,
  .pagination {
    width: 75%;
    float: none;
    margin: 0 auto 1.5em;
  }

  .pageTitle {
    margin: 2rem auto 1em;
  }
}

.site-navigation,
.site-header,
.site-content,
.site-footer {
  border-bottom: 1px solid white;
}

/**
 * 1. Site Navigation
 * --------------------------------------------
 */

.site-navigation .inner {
  position: relative;
}

.nav-menu ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-menu li {
  font-size: 16px;
  font-family: Cambria;
  line-height: 1.5;
  padding: 16px 0;
  position: relative;
}

.nav-menu a {
  color: $grey;
  display: block;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 0 15px;
  text-transform: uppercase;
}

.nav-menu li:hover > a,
.nav-menu .nav-current > a {
  color: $lime;
}

h1 {
  font-size: 3em;
  line-height: 1;
  letter-spacing: -3px;
  padding-left: 0;
}

#menu-toggle {
  display: none;
}

/**
 * 2. Site Header
 * --------------------------------------------
 */

.site-header {
  padding-top: 1.5em;
  padding-bottom: 1em;
}

.site-title {
  font-family: serif;
  font-size: 48px;
  line-height: 1;
  margin-bottom: 12px;
  text-align: center;
  text-transform: uppercase;
}

.site-title a {
  color: $white;
  display: block;
}

.site-title a:hover {
  color: lighten($lime, 11%);
}

.site-description {
  color: $grey;
  float: left;
  font-size: 16px;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 0;
  margin-top: 6px;
  max-width: 40%;
}

/***************
MENU STYLING
***************/

.js {
  .nav-collapse {
    position: relative;
    max-height: none;

    &.closed {
      max-height: none;
    }

    ul li a {
      display: inline-block;
    }
  }
}

.nav-toggle {
  display: none;
}

/**
 * 3. Content
 * ----------------------------------------------------------------------------
 */
 
 .site-main {
  float: left;
  width: 74.5%;
  border-right: 1px solid white;
}

/**
 * 3.1 Posts and Pages
 * ----------------------------------------------------------------------------
 */

.post-title a:hover {
  color: $lime;
}

.post {
  padding: 16px 24px;
  border-bottom: 1px solid white;
}

.post-tag {
  text-align: center;
  min-width: 10%;
  font-style: italic;
}

.post-tag-wrap {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
}

.sidebar {
  float: right;
  font-size: 16px;
  margin-bottom: 2rem;
  width: 25%;
}

.entry-header {
  margin-bottom: 40px;
}

.entry-header-wrap {
  overflow: hidden;
  position: relative;
}

.entry-title {
  clear: both;
  float: left;
  font-size: 32px;
  word-break: keep-all;
}

.entry-title a {
  color: white;
}

.entry-title a:hover {
  color: limegreen;
}

.entry-meta {
  font-size: 12px;
  float: left;
  letter-spacing: 1px;
  line-height: 1.5;
  text-transform: uppercase;
  color: lighten($tundora, 40%);
}

.entry-content {
  margin: 0 auto;
  max-width: 740px;
  font-size: 16px;
}

.entry-footer {
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 1.5;
  margin-top: 30px;
  text-transform: uppercase;
}

.tag-links a {
  color: $tundora;
  background-color: $light-yellow;
  margin: 4px;
  padding: 4px 12px;
  font-weight: bold;
}

.tag-links a:hover {
  background-color: darken(limegreen, 10%);
  color: white;
}

/**
 * 3.2 Comments
 * ----------------------------------------------------------------------------
 */



/**
 * 3.3 Post/Paging Navigation
 * ----------------------------------------------------------------------------
 */

.pagination {
  background-color: white;
  color: black;
  font-size: 12px;
  letter-spacing: 1px;
  text-align: center;
  font-family: Cochin;
  text-transform: uppercase;
  padding: 16px 60px;
  position: relative;
}

.newer-posts,
.older-posts {
  color: $black;
  position: absolute;
  top: 0;
}

.newer-posts {
  left: 0;
}

.older-posts {
  right: 0;
}

/**
 * 4. Site Footer
 * ----------------------------------------------------------------------------
 */

.site-footer .inner {
  position: relative;
}

.social-links {
  padding: 32px 24px;
}

.social-links a {
  float: left;
  margin: 0 4px 4px 0;
}

.site-info {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 1.5;
  text-transform: uppercase;
  padding: 16px 24px;
  color: lighten($tundora, 40%);

  a {
    color: limegreen;
    
    &:hover {
      color: lighten(limegreen, 20%);
    }

    &.top-link {
      color: white;

      &:hover {
        color: limegreen;
      }
    }
  }

}

.site-info .top-link {
  margin: 0;
  position: absolute;
  right: 16px;
  top: 24px;
}



/**
 * 5. Widgets
 * ----------------------------------------------------------------------------
 */

.widget {
  font-family: "Nanum Gothic";
  padding: 16px 16px;
  word-break: keep-all;
}

.widget:first-child {
  padding-top: 16px;
}

.widget-title {
  color: lighten($tundora, 40%);
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.widget-recent-posts ul {
  list-style: none;
  padding: 0;
}

.widget-recent-posts li {
  margin-bottom: 12px;
  line-height: 1.5;
}

.widget-recent-posts a {
  color: $white;
}

.widget-recent-posts a:hover {
  color: limegreen;
}

.widget-recent-posts span {
  color: lighten($tundora, 40%);
  display: block;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 1.5;
  text-transform: uppercase;
}

.widget-tags a {
  background-color: $light-yellow;
  color: $tundora;
  font-size: 10px;
  font-weight: bold;
  margin: 2px;
  padding: 2px 8px;
  text-transform: uppercase;
}

.widget-tags a:hover {
  background-color: darken(limegreen, 10%);
  color: white;
}


