<nav id="top" class="site-navigation">
  <div class="inner">
     <button id="menu-toggle" aria-expanded="false">Menu</button>
     <div class="nav-menu">
        <ul class="menu">
           {% for link in site.navigation %}
              {% assign current = nil %}
              {% if page.url == link.url %}
                 {% assign current = 'nav-current' %}
              {% endif %}
              <li class="{{ current }}">
                 <a class="{{ current }}" href="{{ link.url }}">{{ link.title }}</a>
              </li>
           {% endfor %}   
        </ul>
     </div>
  </div>
</nav>
