<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

{% include head.html %}

<body>
   
   {% include header.html %}

   <header class="site-header">
      <div class="inner">
         <h1 class="site-title"><a class="logo-text" href="{{ site.baseurl }}/">{{site.title}}</a></h1>
            <p class="site-description">{{site.tagline}}</p>
      </div>
   </header><!-- end .content -->
   
   {{ content }}
   {% include footer.html %}
   {% include scripts.html %}

   <!-- <script id="dsq-count-scr" src="//https-jjjlyn-github-io.disqus.com/count.js" async></script> -->
</body>

</html>
